.footer {
    padding-top: 75px;
}
.footer__container {
    display: flex;
    justify-content: center;
}
.footer__text {
    color: #f0f6fc;
}
.footer__list {
    display: flex;
}
.footer__item {

}
.footer__item:first-child {
    margin-right: 0;
}
.footer__item:not(:last-child) {
    margin-right: 20px;
}

.footer__link {
    color: #9198a1;
    font-size: 12px;
}
.footer__link:hover {
    color: #4493f8;
    text-decoration: underline;
}