@media screen and (max-width: 1900px) {
    
}

@media screen and (max-width: 1200px) {
    .nav__wrapper {
        justify-content: space-between;
    }
    .burger-component-wrapper {
        display: block;
    }
    .nav__sign-up {
        display: none;
    }
    .nav__inner {
        position: absolute;
        top: 50px;
        right: 0;
        left: 20px;

        display: flex;
        flex-direction: column;

        padding: 16px;

        border-radius: 6px;
        background-color: #fff;
        display: none;
    }
    .nav__inner .nav__menu {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 32px;
    }
    .nav__inner .nav__item {
        width: 100%;
    }
    .nav__inner .nav__link {
        color: #1f2328;

        justify-content: space-between;
    }
    .nav__inner .nav__svg {
        fill: #1f2328;
        transform: rotate(-90deg);
    }
    .nav__inner .nav__wrapper-item {
        margin-left: 0;
        align-items: normal;

        flex-direction: column;
    }
    .nav__sign-up-wrapper {
        display: block;
    }
    .nav__inner .nav__btn {
        padding: 8px;

        width: 100%;

        text-align: center;

        background-color: #24292f;
        border: 1px solid #24292f;
        border-radius: 6px;
    }
    .nav__inner .nav__btn-search {
        gap: 0;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1199px) {
    
}

@media screen and (max-width: 991px) {
    
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 575px) {
    
}
