.stars {
    max-width: 890px;
}
.stars__header {
    margin-bottom: 15px;
}
.stars__wrapper, .stars__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stars__content {
}
.stars__btn:last-child {
    margin-left: 5px;
}
.stars__title {
    color: #f0f6fc;
    font-size: 16px;
    font-weight: 300;
}
.stars__span {
    color: #9198a1;
}
.stars__body {
    margin-top: 32px;
}