/*NORMALIZE CSS*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    writing-mode: horizontal-tb;
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
a {
    display: block;
    text-decoration: none;
}
input {
    outline: none;
    border: none;
    background-color: inherit;
}
button {
    background: none;
    cursor: pointer;
    border: none;
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    font-family: 'Noto+Sans', sans-serif;

    background-color: #0d1117;

    font-feature-settings: unset;
}

.container {
    margin: 0 auto;
    padding: 0 20px;

    max-width: 1280px;
    width: 100%;
}
