.left-side {
    background: url('../../assets/img/bg-darkest.jpg') no-repeat center bottom/cover;
    width: 100%;
    height: 100vh;
}
.left-side__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 80px 80px 0;

    color: #fff;
}
.left-side__title {
    margin-bottom: 15px;
}
.left-side__text {
    margin-bottom: 15px;

    font-size: 14px;
}
.left-side__img {
    margin-top: auto;
}