
.top-repositories {
    padding: 10px;
    padding-top: 0;
}

.new-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    background-color: #2ea44f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}
.new-button:hover {
    background-color: #2c974b;
}
.new-button svg {
    stroke-width: 1px;
}
.new-button__span {
}
.repository-header-wrapper {
    margin-bottom: 10px;
}
.repository-header-wrapper__title {
    font-size: 16px;
}

/* .top-repositories input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
} */

.repository-list {
    list-style-type: none;
    padding: 0;
}

.repository-item {
    display: flex;
    align-items: center;

    margin-top: 5px;

    font-size: 12px;
}

.repository-image {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 8px;
}

.repository-name {
    font-size: 18px;
}

.top-repositories ul {
    list-style-type: none;
    padding: 0;
}
.repository-header-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.top-repositories li {
    padding: 5px 0;
}
.link-muted
{
    margin-top: 18px;

    color: #8d96a0;
    font-size: 12px;
    text-decoration: none;
}
.link-muted:hover
{
    color: #4493f8;
}
.link-repo
{
    display: flex;

    color: #e6edf3;
    text-decoration: none;
}
.link-repo:hover
{
    text-decoration: underline;
}
.repository-author {
    font-size: 14px;
}
.repository-name {
    font-size: 14px;
}
/* Input and placeholder styles */
.input-placeholder {
    padding: 10px;
    font-size: 16px;
    border: 0px solid #ccc; /*Border of input will delete as not needed */
    border-radius: 4px;
    background-color: #010409; /* Background color of INPUT */
    color: #C9D1D9; /*Change the color of INPUT text */
  }

  /* Optional: Style the placeholder text itself */
  .input-placeholder::placeholder {
    color: #C9D1D9; /* Example placeholder text color */
  }
  