.btn-search {
    display: flex;
    align-items: center;
    /* gap: 150px; */

    padding: 5px 10px;
    
    width: 100%;
    max-width: 305px;
    min-width: 200px;
    /* min-width: 305px; */
    max-height: 30px;

    font-size: 14px;
    color: #8C959F;

    border: 1px solid #57606A;
    border-radius: 6px;
    background-color: #2e374ad1;

    cursor: pointer;
}
.btn-search__wrapper {
    display: flex;
    align-items: center;
}
.btn-search__span {
    margin-left: auto;

    max-width: 20px;
    max-height: 20px;
}
.btn-search__span--search {
    margin-right: 5px;

    fill: #636c76;
}
.btn-search__span--search svg {
    max-width: 15px;
    max-height: 15px;
}
