.repository-card {
    padding: 32px 0px;

    border-top: 1px solid #3d444db3;
}
.repository-card:last-child {
    border-bottom: 1px solid #3d444db3;
}
.repository-card__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.repository-card__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.repository-card__item:first-child {
    min-width: 220px;
}
.repository-card__name {
    display: flex;
    align-items: center;
    gap: 5px;
}
.repository-card__link {
    color: #4493F8;
    font-size: 20px;
}
.repository-card__label {
    padding: 6px;

    color: #9198a1;
    font-size: 12px;

    border: 1px solid #3d444d;
    border-radius: 15px;
}
.repository-card__info {
    display: flex;
    align-items: center;
    gap: 16px;

    color: #9198a1;
    font-size: 12px;
}
.repository-card__stars {
    display: flex;
    align-items: center;
    gap: 5px;
}
.repository-card__date-last-update {
}
